:root {
  --dark-background: #1C1A1D;
  --light-text: #FDF0D6;
  --shade-1: #2A292B;
  --shade-2: #332E27;
  --shade-3: #8D5535;
  --light-4: #d49774;
  --shade-3-transparency: rgb(141, 85, 53, 0.8);
}

.content {
  display: flex;
  justify-content: space-between;
}

.products-page {
  background-color: black;
}

.product-card {
  min-width: 200px;
  min-height: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  margin: auto;
  text-align: center;
}

.product-card:hover {
  transform: scale(1.1);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);
}

.card-img {
  width: 100%;
  height: 60%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  width: 100%;
  height: 40%;
  padding: 10px;
  box-sizing: border-box;
}

.card-info h3 {
  margin: 0;
  font-size: 22px;
  text-align: center;
}

.card-info p {
  margin: 10px 0;
  font-size: 18px;
  text-align: center;
}

.tituloProduto {
  text-align: center;
  font-size: 3.9em;
  margin: 100px 0px 50px 0px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

h3 {
  margin-top: 10px;
  font-size: 16px;
}

.price {
  font-weight: bold;
}

div button {
  border-radius: 6px;
  border-color: grey;
  background-color: orange;
  color: white;
  font-weight: bold;
}

.header-produtos {
  min-height: 300px;
  background-image: url('../images/veneno.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-titulo {
  color: var(--light-text);
  text-shadow: 3px 3px 2px var(--dark-background);

}

@media(max-height:600px) {
  .header-produtos {
    min-height: 300px;
  }
}

@media()