:root {
  --dark-background: #1C1A1D;
  --light-text: #FDF0D6;
  --shade-1: #2A292B;
  --shade-2: #332E27;
  --shade-3: #8D5535;
  --light-4: #d49774;
  --shade-3-transparency: rgb(141, 85, 53, 0.8);
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  /*
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
  */
}

#root {
  width: 100vw;
}

/*NAVBAR*/

.wood-text {
  text-shadow: -1px -1px rgba(0, 0, 0, 0.5), 1px 1px rgba(255, 255, 255, 0.5);
  color: rgba(139, 69, 19, 0.4);
}

nav.bg-dark {
  background-color: var(--dark-background) !important;
}

nav.transparent {
  background-color: transparent;
}

nav.bg-light {
  background-color: var(--shade-3-transparency) !important;
}

@media(min-width:992px) {

  nav {
    transition: background-color 2s ease !important;
  }

  nav.navbar.scrollNavbar {
    padding: 0 !important;
    margin: 0 !important;
    background-color: var(--shade-2) !important;
  }
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}

nav .navbar-nav .nav-link {
  color: var(--light-text) !important;
}

nav .navbar-nav .nav-link:hover {
  color: var(--shade-1) !important;
}

/*Fim Nav*/

.dark-background {
  background-color: var(--dark-background);
}

.light-text {
  color: var(--light-text) !important;
}

.dark-text {
  color: var(--shade-1) !important;
}

nav .nav-tabs .active {
  color: var(--shade-1) !important;
}

.link-redes:hover {
  color: red !important;
  transform: scale(1.2);
}

.background-parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contato-form label {
  color: white;
  font-weight: bolder;
}

.grayscale {
  filter: brightness(40%)
}

.main-title {
  font-size: 5em;
  font-weight: bold;
  text-shadow: 7px 2px 5px rgba(00, 00, 00, 0.91);
}

.bg-header-contato {
  background-image: url('./assets/images/fundo-contato.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

@media(max-width:992px) {
  .bigger-text {
    font-size: 2em;
  }
}

.Cadastramento {
  border-radius: 10px;
  width: 60%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  border: none;
  box-shadow: black 0px 0px 5px 0px;
  padding: 1rem;
}

.modal-content {
  background-color: var(--shade-3) !important;
}

.grid-overlay-parent {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-overlay-children {
  grid-row-start: 1;
  grid-column-start: 1;
}

@media(max-width:992px) {
  .contato-form {
    background-color: var(--shade-3);
  }
}

/*Login*/
.disabled {
  opacity: 0.5;
}

.login-container {
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #8d5436;
  padding: 20px;
}

.login-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}

.login-container input[type='text'],
.login-container input[type='password'] {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 20px;
  width: 100%;
}

.login-container button[type='submit'] {
  padding: 10px 20px;
  background-color: white;
  color: #9e7575;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

/*Login*/