:root{
  --dark-background: #000000;
  --light-text:#ffffff;
}

*{
  scroll-behavior: smooth;
  box-sizing: border-box;
  /*background: #000 !important;
      color: #0f0 !important;
      outline: solid #f00 1px !important;*/
}

#root{
  width: 100vw;
}

nav.bg-dark{
  background-color:transparent!important;
}

.dark-background{
  background-color: var(--dark-background);
}

.light-text{
  color: var(--light-text)!important;
}

.link-redes:hover{
  color:red !important;
  transform: scale(1.2);
}

.background-parallax{
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contato-form label{
  color: white;
  font-weight: bolder;
}

.grayscale{
  filter: brightness(40%)
}

.main-title{
  font-size: 5em;
  font-weight: bold;
  text-shadow: 7px 2px 5px rgba(00, 00, 00, 0.91);
}

.bg-header-contato{
  background-image: url('./assets/images/fundo-contato.jpg');
  background-repeat: no-repeat;
  background-size: 100% 600px;
  background-position: 0 -120px;
}

@media(max-width:992px){
  .bigger-text {
      font-size: 2em;
    }
}